header{
    background-color: cornflowerblue;
    padding:25px;
}

header h1{
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
}

header nav{
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
}

header nav a:link{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    padding: 25px;
}
header nav a:visited{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
header nav a:hover{
    color: orangered;
}

main{
    width: 85%;
    background-color: beige;
    border-radius: 10px;
    margin:20px;
    padding: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #969696;
}

article h3{
    color: #333333;
    margin-bottom: 10px;
}

article p{
    color: #666666;
    line-height: 1.6;
}
footer{
    text-align: center;
    background-color: cornflowerblue;
    padding: 15px;
    color: white;
}